<%- include('headers') -%>

<h2>This is the about page!</h2>
<p>This is a sample project using EJS.</p>
<p>
  What is the "E" for? "Embedded?" Could be. How about "Effective," "Elegant,"
  or just "Easy"? EJS is a simple templating language that lets you generate
  HTML markup with plain JavaScript. No religiousness about how to organize
  things. No reinvention of iteration and control-flow. It's just plain
  JavaScript.
</p>

<%- include('footers') -%>
